version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: payment-hub-postgres
    environment:
      POSTGRES_DB: payment_hub_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3.12-management-alpine
    container_name: payment-hub-rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  redis:
    image: redis:7-alpine
    container_name: payment-hub-redis
    ports:
      - "6379:6379"

volumes:
  postgres-data:
  rabbitmq-data:
